[submodule "ext/kninja"]
	path = ext/kninja
	url = https://github.com/nishantjr/kninja
[submodule "ext/k"]
	path = ext/k
	url = https://github.com/kframework/k
[submodule "michelson"]
	path = michelson/semantics
	url = https://github.com/runtimeverification/michelson-semantics
